@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   box-sizing: border-box;
   margin: 0px;
   padding: 0px;
   font-family: 'Open Sans', sans-serif;
   font-weight: 400;
}

@media (prefers-color-scheme: dark) {
   html {
      background-color: #05112a;
      color: white;
   }
}

@media (prefers-color-scheme: light) {
   html {
      background-color: #f5f5f5;
      color: #05112a;
   }
}

.light {
   background-color: #f5f5f5;
   color: black;
}

.dark {
   background-color: #05112a;
   color: white;
}


h1 div span {
   font-weight: bold;
}

.btn-resume {
   transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out,
      color 0.1s ease-in-out;
}
.btn-resume-dark {
   transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out,
      color 0.1s ease-in-out;
}

.btn-resume-dark:hover {
   background-color: #0090ff;
   border-color: #0090ff;
   color: white;
}

.btn-resume:hover {
   background-color: #071739;
   border-color: #071739;
   color: white;
}

.btn-portfolio {
   transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out,
      color 0.2s ease-in-out;
}
.btn-portfolio.active {
   background-color: transparent;
   border-color: #0090ff;
   color: #0090ff;
}

.ham {
   cursor: pointer;
   -webkit-tap-highlight-color: transparent;
   transition: transform 400ms;
   -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.hamRotate.active {
   transform: rotate(45deg);
   z-index: -1;
}

.lineSection {
   fill: none;
   transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
   stroke: white;
   stroke-width: 4.5;
   stroke-linecap: round;
}

.hamSection .top {
   stroke-dasharray: 40 121;
}
.hamSection .bottom {
   stroke-dasharray: 40 121;
}
.hamSection.active .top {
   stroke: #0090ff;
   stroke-dashoffset: -68px;
}
.hamSection.active .middle {
   stroke: #0090ff;
}
.hamSection.active .bottom {
   stroke: #0090ff;
   stroke-dashoffset: -68px;
}

h2 span {
   font-weight: bold;
}



