/* Navbar.css */

.navbar-hamburger {
   @apply inline-block ml-4;
}

.navbar-name {
   font-size: 2em;
   font-weight: bold;
}

.navbar-name span {
   color: #0090ff;
}

.navbar-nav {
   list-style-type: none;
   padding: 0;
   margin: 0;
}

.nav-item {
   display: block;
   margin-right: 2rem;
}

.nav-item a {
   color: white;
   text-decoration: none;
}

.nav-item a:hover {
   color: #0090ff;
   border-bottom: 0.1rem solid #0090ff;
}

.navbar-controls {
   display: flex;
   align-items: center;
}

.language-button,
.theme-button {
   margin-left: 0.5rem;
   padding: 5px 5px;
   border: none;
   cursor: pointer;
}

.theme-button {
   color: #0090ff;
}

.language-button {
   color: #0090ff;
}
