/* Navbar.css */
.navbar {
   position: fixed;
   top: 0;
   left: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 50px;
}

.navbar-name {
   font-size: 2em;
   font-weight: bold;
}

.navbar-name span {
   color: #0090ff;
}

.navbar-nav {
   list-style-type: none;
   padding: 0;
   margin: 0;
}

.nav-item {
   display: block;
   margin-right: 2rem;
}

.nav-item a {
   color: white;
   text-decoration: none;
}

.nav-item a:hover {
   color: #0090ff;
   border-bottom: 0.1rem solid #0090ff;
}

.language-button,
.theme-button {
   margin-left: 0.5rem;
   padding: 5px 5px;
   border: none;
   cursor: pointer;
   font-size: 1.2rem;
}

.theme-button-dark,
.language-button-dark {
   color: #0090ff;
   margin-left: 0.5rem;
   padding: 5px 5px;
   border: none;
   cursor: pointer;
   font-size: 1.2rem;
}

.theme-button,
.language-button{
   color: #071739;
}



.nav-link {
   text-align: center;
   position: relative;
   text-decoration: none;
   display: inline-block;
   border: 1px solid transparent;
   position: relative;
}

.nav-link::before {
   content: '';
   position: absolute;
   left: 0px;
   bottom: 0px;
   width: 0%;
   height: 1px;
   background: #6098ff;
   box-shadow: inset 0px 0px 0px #6098ff;
   display: block;
   -webkit-transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
   transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
}

.nav-link::after {
   content: '';
   position: absolute;
   right: 0px;
   top: 0px;
   width: 0%;
   height: 1px;
   background: #6098ff;
   -webkit-transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
   transition: all 0.1s cubic-bezier(0.5, 0.24, 0, 1);
}

.nav-link:hover::before,
.nav-link.active::before {
   width: 100%;
}

.nav-link:hover::after,
.nav-link.active::after {
   width: 100%;
}

.nav-link.active {
   border-left: 1px solid #6098ff;
   border-right: 1px solid #6098ff;
}
.nav-link:hover {
   border-left: 1px solid #6098ff;
   border-right: 1px solid #6098ff;
}

.ham {
   cursor: pointer;
   -webkit-tap-highlight-color: transparent;
   transition: transform 400ms;
   -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.hamRotate.active {
   transform: rotate(45deg);
   z-index: -1;
}

.line {
   fill: none;
   transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
   stroke: #0090ff;
   stroke-width: 4.5;
   stroke-linecap: round;
}

.ham4 .top {
   stroke-dasharray: 40 121;
}
.ham4 .bottom {
   stroke-dasharray: 40 121;
}
.ham4.active .top {
   stroke-dashoffset: -68px;
}
.ham4.active .bottom {
   stroke-dashoffset: -68px;
}

.bur.active {
   width: 100%;
   display: flex;
   flex-direction: column;
   position: absolute;
   margin-left: auto;
   margin-right: auto;
   top: 200%;
   left: 0;
   right: 0;
   text-align: center;
   transition: all 0.3s ease;
}

.bg-bur {
   position: absolute;
   width: 100%;
   height: 100%;
   top: -700px;
   left: -1000px;
}

.bg-bur.active {
   top: 0;
   right: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   transition: all 0.3s ease;
   opacity: 0.96;
}

h2 strong {
   color: #0090ff;
}
